SatTracker01/SatTracker01/Service References/SatelliteSituationCenterService/SatelliteSituationCenterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ssc.spdf.gsfc.nasa.gov/" name="SatelliteSituationCenterService" targetNamespace="http://ssc.spdf.gsfc.nasa.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://sscweb.gsfc.nasa.gov:80/WS/ssc/2/SatelliteSituationCenterService?xsd=1" namespace="http://ssc.spdf.gsfc.nasa.gov/" />
    </xsd:schema>
  </types>
  <message name="getData">
    <part name="parameters" element="tns:getData" />
  </message>
  <message name="getDataResponse">
    <part name="parameters" element="tns:getDataResponse" />
  </message>
  <message name="SSCExternalException">
    <part name="fault" element="tns:SSCExternalException" />
  </message>
  <message name="SSCResourceLimitExceededException">
    <part name="fault" element="tns:SSCResourceLimitExceededException" />
  </message>
  <message name="getAllSatellites">
    <part name="parameters" element="tns:getAllSatellites" />
  </message>
  <message name="getAllSatellitesResponse">
    <part name="parameters" element="tns:getAllSatellitesResponse" />
  </message>
  <message name="getGraphs">
    <part name="parameters" element="tns:getGraphs" />
  </message>
  <message name="getGraphsResponse">
    <part name="parameters" element="tns:getGraphsResponse" />
  </message>
  <message name="getPrivacyAndImportantNotices">
    <part name="parameters" element="tns:getPrivacyAndImportantNotices" />
  </message>
  <message name="getPrivacyAndImportantNoticesResponse">
    <part name="parameters" element="tns:getPrivacyAndImportantNoticesResponse" />
  </message>
  <message name="getAcknowledgements">
    <part name="parameters" element="tns:getAcknowledgements" />
  </message>
  <message name="getAcknowledgementsResponse">
    <part name="parameters" element="tns:getAcknowledgementsResponse" />
  </message>
  <message name="getAllSpaseObservatories">
    <part name="parameters" element="tns:getAllSpaseObservatories" />
  </message>
  <message name="getAllSpaseObservatoriesResponse">
    <part name="parameters" element="tns:getAllSpaseObservatoriesResponse" />
  </message>
  <message name="getAllGroundStations">
    <part name="parameters" element="tns:getAllGroundStations" />
  </message>
  <message name="getAllGroundStationsResponse">
    <part name="parameters" element="tns:getAllGroundStationsResponse" />
  </message>
  <message name="getDataFiles">
    <part name="parameters" element="tns:getDataFiles" />
  </message>
  <message name="getDataFilesResponse">
    <part name="parameters" element="tns:getDataFilesResponse" />
  </message>
  <portType name="SatelliteSituationCenterInterface">
    <operation name="getData">
      <input message="tns:getData" />
      <output message="tns:getDataResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
      <fault name="SSCResourceLimitExceededException" message="tns:SSCResourceLimitExceededException" />
    </operation>
    <operation name="getAllSatellites">
      <input message="tns:getAllSatellites" />
      <output message="tns:getAllSatellitesResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
    </operation>
    <operation name="getGraphs">
      <input message="tns:getGraphs" />
      <output message="tns:getGraphsResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
      <fault name="SSCResourceLimitExceededException" message="tns:SSCResourceLimitExceededException" />
    </operation>
    <operation name="getPrivacyAndImportantNotices">
      <input message="tns:getPrivacyAndImportantNotices" />
      <output message="tns:getPrivacyAndImportantNoticesResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
    </operation>
    <operation name="getAcknowledgements">
      <input message="tns:getAcknowledgements" />
      <output message="tns:getAcknowledgementsResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
    </operation>
    <operation name="getAllSpaseObservatories">
      <input message="tns:getAllSpaseObservatories" />
      <output message="tns:getAllSpaseObservatoriesResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
    </operation>
    <operation name="getAllGroundStations">
      <input message="tns:getAllGroundStations" />
      <output message="tns:getAllGroundStationsResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
    </operation>
    <operation name="getDataFiles">
      <input message="tns:getDataFiles" />
      <output message="tns:getDataFilesResponse" />
      <fault name="SSCExternalException" message="tns:SSCExternalException" />
      <fault name="SSCResourceLimitExceededException" message="tns:SSCResourceLimitExceededException" />
    </operation>
  </portType>
  <binding name="SatelliteSituationCenterPortBinding" type="tns:SatelliteSituationCenterInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
      <fault name="SSCResourceLimitExceededException">
        <soap:fault use="literal" name="SSCResourceLimitExceededException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllSatellites">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
    </operation>
    <operation name="getGraphs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
      <fault name="SSCResourceLimitExceededException">
        <soap:fault use="literal" name="SSCResourceLimitExceededException" namespace="" />
      </fault>
    </operation>
    <operation name="getPrivacyAndImportantNotices">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
    </operation>
    <operation name="getAcknowledgements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllSpaseObservatories">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllGroundStations">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
    </operation>
    <operation name="getDataFiles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SSCExternalException">
        <soap:fault use="literal" name="SSCExternalException" namespace="" />
      </fault>
      <fault name="SSCResourceLimitExceededException">
        <soap:fault use="literal" name="SSCResourceLimitExceededException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SatelliteSituationCenterService">
    <port name="SatelliteSituationCenterPort" binding="tns:SatelliteSituationCenterPortBinding">
      <soap:address location="http://sscweb.gsfc.nasa.gov:80/WS/ssc/2/SatelliteSituationCenterService" />
    </port>
  </service>
</definitions>